
# Weryfikacja lokalizacji (2024-12-13T00:11:54.164Z)
Sprawdzana ulica: Łojasiewicza

WERYFIKACJA: TAK
INSTYTUT: Centrum Informatyki Komputerowej Akademii Górniczo-Hutniczej
LOKALIZACJA: Łojasiewicza
PEWNOŚĆ: 100%
---
